<h1>User info</h1>
<%= form_with model:@user, local:true do |f| %>
  <p>Name</p>
  <%= f.text_field :name %>
  <p>Image</p>
  <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
  <p>introduction</p>
  <%= f.text_area :introduction %>
  <%= f.submit "Update User" %>
<% end %>