<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/90b6703a9e.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <div class="container">
        <nav>
          <ul class="nav-list">
            <div class="nav-list-left">
              <li class="nav-list-item-left">
                <%= link_to "Bookers", root_path %>
              </li>
            </div>
            <div class="nav-list-right">
              <% if user_signed_in? %>

              <li class="nav-list-item">
                <%= link_to user_path(current_user), method: :get do %>
                  <i class="fas fa-home"> Home</i>
                <% end %>
              </li>

              <li class="nav-list-item">
                <%= link_to users_path, method: :get do %>
                  <i class="fas fa-users"> Users</i>
                <% end %>
              </li>

              <li class="nav-list-item">
                <%= link_to books_path, method: :get do %>
                  <i class="fas fa-book-open"> Books</i>
                <% end %>
              </li>

              <li class="nav-list-item">
                <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"> logout</i>
                <% end %>
              </li>

            <% else %>

              <li class="nav-list-item">
                <%= link_to root_path, method: :get do %>
                  <i class="fas fa-home"> Home</i>
                <% end %>
              </li>

              <li class="nav-list-item">
                <%= link_to about_path, method: :get do %>
                  <i class="fas fa-link"> About</i>
                <% end %>
              </li>

              <li class="nav-list-item">
                <%= link_to new_user_registration_path, method: :get do %>
                  <i class="fas fa-user-plus"> sign up</i>
                <% end %>
              </li>

              <li class="nav-list-item">
                <%= link_to new_user_session_path, method: :get do %>
                  <i class="fas fa-sign-in-alt"> login</i>
                <% end %>
              </li>

            <% end %>

            </div>

          </ul>
        </nav>
      </div>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <footer>
      <p>CopyRight Infratop.inc</p>
    </footer>
  </body>

</html>
