<h1>User info</h1>
<%= attachment_image_tag @user, :profile_image, :fill, 60, 60 %>
<p>name : <%= @user.name %></p>
<p>introduction : <%= @user.introduction %></p>


<h1>New book</h1>
<%= form_with model:@newbook, local:true do |f| %>
<p>Title</p>
<%= f.text_field :title %>
<p>Opinion</p>
<%= f.text_area :body %>
<%=f.submit 'Create Book' %>
<% end %>

<h1>Book detail</h1>

<div class="book-body">
  <!--< attachment_image_tag @post_image, :image %>-->
  <p>Title：<%= @book.title %></p>
  <p>Opinion：<%= @book.body %></p>
</div>